.clock {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background: url(../images/clock.svg) no-repeat center;
    background-size: 86%;
    display: block;
    border: 3px solid #2c2c2c;
    box-shadow: 7px 7px 13px #222222, -7px -7px 13px #3b3b3b, inset 7px 7px 13px #222222, inset -7px -7px 13px #3b3b3b;
}

.clock_dot {
    background: #F00;
    border-radius: 50%;
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.minutes-container,
.hours-container,
.seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.hours,
.minutes,
.seconds {
    position: absolute;
    border-radius: 50%;
}

.hours {
    background: #000;
    height: 20%;
    width: 2.5%;
    top: 30%;
    left: 48.75%;
    transform-origin: 50% 100%;
}

.minutes {
    background: #000;
    height: 40%;
    width: 2%;
    top: 10%;
    left: 49%;
    transform-origin: 50% 100%;
}

.seconds {
    background: #F00;
    height: 45%;
    width: 1%;
    top: 14%;
    left: 49.5%;
    transform-origin: 50% 80%;
}

.form-clock {
    position: absolute;
    width: 110px;
    top: 30%;
    left: calc(100% - 120px);
    transform: translate(0, -50%);
    margin: 10px;
}

#start,
#stop {
    width: calc(100% - 15px);
}